<ng-template #login let-modal>
    <div class="modal-header" style="border-bottom: none">
        <button type="button" class="close" style="outline: none" aria-label="Close"
                (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="formlog" (submit)="loginUser($event)">
            <h1>Bienvenue</h1>
            <p>Remplis les entrées pour te connecter</p>
            <div id="err1" class="displayn alert">
                <span class="displayn closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                Votre mot de passe ou votre e-mail est faux.
            </div>
            <div style="width: 80%; margin: auto; margin-bottom: 10px" class="form-group">
                <input class="form-control inputlog" type="text" placeholder="E-mail" id="username"/>
            </div>
            <div style="width: 80%; margin: auto; margin-bottom: 10px" class="form-group">
                <input class="form-control inputlog" type="password" placeholder="Mot de passe" id="password"/>
            </div>
            <br>
            <button class="raw btnlog" type="submit" value="submit">Se connecter</button>
        </form>
        <div class="container">
            <div class="row">
                <div class="col-md-3" style="display: inline; display: -webkit-box"> Pas de compte ?
                    <div class="col-md" (click)="open(signin);"
                         style="cursor: pointer; color: #3499FF"> S'inscrire ici
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #signin let-modal>
    <div class="modal-header" style="border-bottom: none">
        <button type="button" class="close" style="outline: none" aria-label="Close"
                (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form name="form container" (ngSubmit)="f.form.valid && onSubmit() && modal.dismiss('Cross click')" #f="ngForm"
              class="formlog" [mustMatch]="['password', 'confirmPassword']" novalidate>
            <h1>Inscription</h1>
            <p>Remplis le formulaire d'inscription</p>
            <div id="err" class="displayn alert">
                <span class="displayn closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                Cette adresse email est déjà enregistrée.
            </div>
            <div id="success" class="displayn alertS">
                <span class="displayn closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                Votre compte a bien été créé.
            </div>
            <div class="text-center">
                <div style="width: 80%; margin: auto; margin-bottom: 10px" class="form-group">
                    <input type="text" class="form-control inputlog" name="firstName" placeholder="Prénom"
                           [(ngModel)]="model.firstName" #firstName="ngModel"
                           [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required/>
                    <div style="text-align: left" *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                        <div *ngIf="firstName.errors.required">Prénom requis</div>
                    </div>
                </div>
                <div style="width: 80%; margin: auto; margin-bottom: 10px" class="form-group">
                    <input type="text" class="form-control inputlog" name="lastName" placeholder="Nom"
                           [(ngModel)]="model.lastName" #lastName="ngModel"
                           [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required/>
                    <div style="text-align: left !important;" *ngIf="f.submitted && lastName.invalid"
                         class="invalid-feedback">
                        <div *ngIf="lastName.errors.required">Nom requis</div>
                    </div>
                </div>
                <div style="width: 80%; margin: auto; margin-bottom: 10px" class="form-group">
                    <input type="text" class="form-control inputlog" name="email" placeholder="E-mail"
                           [(ngModel)]="model.email" #email="ngModel"
                           [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email/>
                    <div style="text-align: left !important;" *ngIf="f.submitted && email.invalid"
                         class="invalid-feedback">
                        <div *ngIf="email.errors.required">E-mail requis</div>
                        <div *ngIf="email.errors.email">E-mail doit être une adresse e-mail valide</div>
                    </div>
                </div>
                <div style="width: 80%; margin: auto; margin-bottom: 10px" class="form-group">
                    <input type="password" class="form-control inputlog" name="password" placeholder="Mot de passe"
                           [(ngModel)]="model.password" #password="ngModel"
                           [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6"/>
                    <div style="text-align: left !important;" *ngIf="f.submitted && password.invalid"
                         class="invalid-feedback">
                        <div *ngIf="password.errors.required">Mot de passe est requis</div>
                        <div *ngIf="password.errors.minlength">Le mot de passe doit être au moins de 6 caractères</div>
                    </div>
                </div>
                <div style="width: 80%; margin: auto; margin-bottom: 10px" class="form-group">
                    <input type="password" class="form-control inputlog" name="confirmPassword"
                           placeholder="Retaper votre mot de passe" [(ngModel)]="model.confirmPassword"
                           #confirmPassword="ngModel"
                           [ngClass]="{ 'is-invalid': f.submitted && confirmPassword.invalid }" required/>
                    <div style="text-align: left !important;" *ngIf="f.submitted && confirmPassword.invalid"
                         class="invalid-feedback">
                        <div *ngIf="confirmPassword.errors.required">Confirmer le mot de passe est requis</div>
                        <div *ngIf="confirmPassword.errors.mustMatch">Les mots de passe doivent correspondre</div>
                    </div>
                </div>
                <div style="width: 80%; margin: auto; margin-bottom: 10px" class="form-group">
                    <input type="number" class="form-control inputlog" name="promo"
                           placeholder="Année de promotion" [(ngModel)]="model.promo"
                           #promo="ngModel"
                           [ngClass]="{ 'is-invalid': f.submitted && promo.invalid }" required/>
                    <div style="text-align: left !important;" *ngIf="f.submitted && promo.invalid"
                         class="invalid-feedback">
                        <div *ngIf="promo.errors.required">Année de promotion requis</div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <button class="btn btn-primary">S'inscrire</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<div class="container-fluid">
    <div class="title"
         style="display: inline-block; text-align: left; color: #46CEFC; margin-top: 40px; margin-left: 10%">
        <div style="font-size: 2vw; line-height: 0;">YearOrNotYear</div>
        <br>
        <div style="font-size: 0.7vw;">An Epitech Project for Epitech Students</div>
    </div>
    <div (click)="open(login)" style="border-bottom: none" class="title"
         style="float: right; display: inline-block; text-align: right; color: #46CEFC; margin-top: 40px; margin-right: 10%; cursor: pointer">
        Sign In
    </div>
    <div class="row" style="margin-top: 100px;">
        <div class="col-lg-6 col-md-12" style="color: #46CEFC; padding-left: 10%; padding-top: 8%; padding-right: 10%">
            <div style="font-size: 40px; font-weight: bold">Organize your academic year <br>
                with our revolutionary app<br></div>
            <div style="font-size: 20px">Select only what matters to you !</div>
            <br>
            <button (click)="open(login)" style="background-color: #46CEFC; color: white" type="button"
                    class="btn btn-primary btn-round d-block">GET STARTED
            </button>
        </div>
        <div style="text-align: center" class="col-lg-6 col-md-12">
            <img style="width: 90%" src="../../assets/images/planning.svg"/>
        </div>
    </div>
    <div class="title" style="color: white; font-size: 25px; text-align: center; margin-top: 120px">
        "A great organization is the key of success"
    </div>
    <div style="color: white; font-size: 15px; text-align: center; margin-top: 160px">
        © 2019 YearOrNotYear. All rights reserved.
    </div>
</div>
