@font-face {
  font-family: "OCRAExtendedRegular";
  src: url("./font/OCRAEXT.ttf") format("truetype"),
  url("./font/OCRAEXT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.linear {
  background: linear-gradient(#3A3985, #3499FF);
}

.title {
  font-family: OCRAExtendedRegular, sans-serif;
}
