<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Description</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" (click)="ret_cred_counter()">
            <span aria-hidden="true">&times;</span>

        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="description">
              <span style="white-space: pre-line">
                {{description}}
              </span>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="plus-min-button" (click)="addmin_cred_counter('-')">-</button>
        {{cred}}
        <button type="button" class="plus-min-button" (click)="addmin_cred_counter('+')">+</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')" (click)="ret_cred_counter()">Close</button>

    </div>
</ng-template>

<ng-template #sync let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Synchronisation avec l'intra.</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" (click)="ret_cred_counter()">
      <span aria-hidden="true">&times;</span>

    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="offset-2 col-md-8">
        <input type="text" placeholder="Autologin Epitech" class="syncBar" #SyncBar>
      </div>
    </div>
    <div id="accordeon" class="row" style="height: 60px; text-align: center; margin-top: 10px">
      <div class="offset-2 col-md-8">
        Votre autologin se récupère sur ce lien de l'intranet : <a href="https://intra.epitech.eu/admin/autolog" target="_blank">https://intra.epitech.eu/admin/autolog</a>.
        <br>Pas d'inquiétude ! Nous ne stockons pas votre autologin.
      </div>
    </div>
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')" (click)="load(SyncBar.value)">Actualiser</button>
  </div>
</ng-template>

<ng-template #content1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <form (submit)="createModule($event); modal.dismiss('Cross click')">
                        <input id="nameModule" placeholder="Module" type="text"/>
                        <input id="cred" placeholder="cred" type="number"/>
                        <button style="background-color: #46CEFC; color: white; padding: 10px; margin-top: 20px; margin-bottom: 20px" type="submit" value="submit" class="btn btn-primary btn-round d-block"><i style="color: white" class="ion ion-ios-power"></i>&nbsp;&nbsp;Créer</button>
                    </form>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>

<nav class="row" style="margin: 0 !important;">
  <div class="offset-1 col-md-3">
    <span class="spanTitle">YearOrNotYear</span><br>
    <span class="spanSubtitle">An Epitech Project for Epitech Students</span>
  </div>
    <!--<span>{{firstName}} & {{lastName}} & {{year}}</span>
    <button routerLink="/logout">Logout</button>-->
</nav>
<div class="row gradientBar" id="gradient">
  <div class="offset-1 col-md-3">
    <div class="row creditBox">
      <div class="offset-1 col-md-3">
        <div class="creditsInBar" style="line-height: 80px">{{calcul}}</div>
      </div>
      <div class="col-md-8" style="font-size: 20px; line-height: 80px">
        <div class="">Tu as {{calcul}} crédits !</div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="height: 100%; background-color: #F3F3F3">
  <div class="row">
    <div class="col-md-6">
      <div class="moduleBlock">
        <div class="row" style="height: 60px;">
          <span class="col-md-6 spanTitle moduleBlockTitle" style="font-family: 'Roboto', sans-serif">Vos Modules:</span>
          <div class="col-md-3">
            <button class="buttonClear" (click)="open(sync)">Sync<img class="gifimg"></button>
          </div>
          <div class="col-md-2">
            <button class="buttonClear" (click)="clear()">Vider</button>
          </div>
        </div>
        <div class="row" style="height: 500px">
          <div class="moduleList scrollbar scrollbar-primary"
               cdkDropList
               #todoList="cdkDropList"
               [cdkDropListData]="itemsHave"
               [cdkDropListConnectedTo]="[doneList]"
               (cdkDropListDropped)="drop($event)">
            <div class="row moduleBox" *ngFor="let data of itemsHave" cdkDrag>
              <div class="col-md-7 moduleName">{{data.name}}</div>
              <div class="col-md-2" style="padding: 0">
                <div *ngIf="data.status == 'fail'">
                  <div class="pastilleright"  style="background-color: red" data-toggle="tooltip" data-placement="top" title="Module Echec"></div>
                </div>
                <div *ngIf="data.status == 'ongoing'">
                  <div class="pastilleright" style="background-color: orange" data-toggle="tooltip" data-placement="top" title="Module en Cours..."></div>
                </div>
                <div *ngIf="data.status == 'valid'">
                  <div class="pastilleright" style="background-color: lightgreen" data-toggle="tooltip" data-placement="top" title="Module Validé"></div>
                </div>
                <div *ngIf="data.status == 'notregistered'">
                  <div class="pastilleright" style="background-color: grey" data-toggle="tooltip" data-placement="top" title="Non Inscrit"></div>
                </div>
                <div (click)="open(content, data)" style="position: absolute; bottom: 0; right: 10px">Détails</div>
              </div>
              <div class="col-md-3 moduleName creditsNumber" style="float: right">{{data.credits}} Crédits</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="moduleBlock">
        <div class="row" style="height: 60px;">
          <span class="col-md-7 spanTitle moduleBlockTitle" style="font-family: 'Roboto', sans-serif">Modules Disponibles:</span>
          <div class="col-md-4"><button (click)="open(content1)" class="addModuleButton">Ajouter un Module</button></div>
        </div>
        <div class="row" style="height: 60px; margin-top: 10px">
          <div class="col-md-12" style="margin-right: 20px; margin-right: 20px; text-align: center">
            <input [(ngModel)]="term" class="moduleBox searchBar" placeholder="Rechercher..."/>
          </div>
        </div>
        <div class="row" style="height: 500px;">
          <div class="moduleList scrollbar scrollbar-primary"
               cdkDropList
               #doneList="cdkDropList"
               [cdkDropListData]="items"
               [cdkDropListConnectedTo]="[todoList]"
               (cdkDropListDropped)="drop($event)"
                style="max-height: 550px">
            <div class="row moduleBox" *ngFor="let data of items | filter:'name' : term" cdkDrag>
              <div class="col-md-7 moduleName">{{data.name}}</div>
              <div class="col-md-2" style="padding: 0">
                <div *ngIf="data.status == 'fail'">
                  <div class="pastilleright"  style="background-color: red" data-toggle="tooltip" data-placement="top" title="Module Echec"></div>
                </div>
                <div *ngIf="data.status == 'ongoing'">
                  <div class="pastilleright" style="background-color: orange" data-toggle="tooltip" data-placement="top" title="Module en Cours..."></div>
                </div>
                <div *ngIf="data.status == 'valid'">
                  <div class="pastilleright" style="background-color: lightgreen" data-toggle="tooltip" data-placement="top" title="Module Validé"></div>
                </div>
                <div *ngIf="data.status == 'notregistered'">
                  <div class="pastilleright" style="background-color: grey" data-toggle="tooltip" data-placement="top" title="Non Inscrit"></div>
                </div>
                <div (click)="open(content)" style="position: absolute; bottom: 0; right: 10px">Détails</div>
              </div>
              <div class="col-md-3 moduleName creditsNumber" style="float: right">{{data.credits}} Crédits</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="float: left; margin: 20px;">
        <input type="button" class="button-csv" (click)="get_csv()" value="Download CSV">
    </div>
  </div>
</div>

<!--<div class="container-fluid" style="margin-top: 160px; height: 50%;">
    <div class="row">
        <div class="col-lg-6 col-md-6" style="width: 100%">
            <div class="example-list"
                 style="border-bottom: none; border-radius: 0px; background-color: #2962FF; color: white; font-weight: bold; height: 60px !important;">
                <div style="text-align: center; margin-top: 20px">
                    Vos module(s)
                </div>
            </div>
            <div class="example-list" style="height: 93%">
                <div style="margin: 20px 20px 0px 20px;">
                    <div style="height: 550px"
                        cdkDropList
                        #todoList="cdkDropList"
                        [cdkDropListData]="itemsHave"
                        [cdkDropListConnectedTo]="[doneList]"
                        class="example-list scrollbar scrollbar-primary"
                        (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let data of itemsHave" cdkDrag>{{data.name}}
                            <div style="float: right">
                                <i style="color: rgba(0, 0, 0, 0.87); margin-right: 20px; cursor: pointer"
                                   (click)="open(content, data)" class="ion ion-ios-information-circle-outline"></i>
                                {{data.cred}} Crédits
                            </div>
                        </div>
                          <div class="example-box" *ngFor="let data of itemsHave" cdkDrag>
                            {{data.name}}
                              <div style="float: right">
                                  <i style="color: rgba(0, 0, 0, 0.87); margin-right: 20px; cursor: pointer"
                                     (click)="open(content)" class="ion ion-ios-information-circle-outline"></i>
                                  {{data.cred}} Crédits
                              </div>
                          </div>
                    </div>
                    <div style="float: left; margin: 20px">
                        Total crédit:
                    </div>
                    <div style="float: right; margin: 20px">
                        {{calcul}}
                    </div>
                </div>
            </div>
            <div style="float: left; margin: 20px;">
                <input type="button" (click)="get_csv()" value="Download CSV">
            </div>
        </div>

        <div class="col-lg-6 col-md-6" style="width: 100%">
            <div class="example-list"
                 style="border-bottom: none; border-radius: 0px; background-color: #2962FF; color: white; font-weight: bold; height: 60px !important;">
                <div style="text-align: center; margin-top: 20px">
                    Module disponible(s)
                </div>
            </div>
            <div class="example-list" style="height: 93%">

                <div style="margin: 0px 20px 0px 20px;">
                    <div style="height: 467px"
                        cdkDropList
                        #doneList="cdkDropList"
                        [cdkDropListData]="items"
                        [cdkDropListConnectedTo]="[todoList]"
                        class="example-list scrollbar scrollbar-primary"
                        (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let data of items | filter:'name' : term" cdkDrag>
                            {{data.name}}
                            <div style="float: right">
                                {{data.cred}} Crédits
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center; margin-top: 10px">
                        Un module n'est pas dans la liste ?<br>
                        <i (click)="open(content1)" style="cursor: pointer;" class="ion ion-ios-add-circle-outline"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
    <a>© 2019 YearOrNotYear, All Rights Reserved</a>
    </div>
</div>
</div>-->
