<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="dateOfBirth">Date of birth</label>
                <div class="input-group">
                    <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                           #dp="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>

<ng-template #content1 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="dateOfBirth">Date of birth</label>
                <div class="input-group">
                    <form (submit)="createModule($event); modal.dismiss('Cross click')">
                        <input id="nameModule" placeholder="Module" type="text"/>
                        <input id="cred" placeholder="cred" type="number"/>
                        <button style="background-color: #46CEFC; color: white; padding: 10px; margin-top: 20px; margin-bottom: 20px" type="submit" value="submit" class="btn btn-primary btn-round d-block"><i style="color: white" class="ion ion-ios-power"></i>&nbsp;&nbsp;Créer</button>
                    </form>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>

<nav id="navbar">
    <span>Year Or Not Year</span>
    <button routerLink="/logout">Logout</button>
    <span>{{firstName}} & {{lastName}} & {{year}}</span>
    <div class="name" style="padding-left: 14px; padding-top: 13px">HC</div>
</nav>

<div class="container-fluid" style="margin-top: 80px; height: 100%;">
    <div class="row">
        <div class="col-lg-6 col-md-6" style="width: 100%">
            <div class="example-list"
                 style="border-bottom: none; border-radius: 0px; background-color: #2962FF; color: white; font-weight: bold; height: 60px !important;">
                <div style="text-align: center; margin-top: 20px">
                    Vos module(s)
                </div>
            </div>
            <div class="example-list" style="height: 93%">
                <div style="margin: 20px 20px 0px 20px;">
                    <div style="height: 715px"
                        cdkDropList
                        #todoList="cdkDropList"
                        [cdkDropListData]="itemsHave"
                        [cdkDropListConnectedTo]="[doneList]"
                        class="example-list scrollbar scrollbar-primary"
                        (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let data of itemsHave" cdkDrag>{{data.name}}
                            <div style="float: right">
                                <i style="color: rgba(0, 0, 0, 0.87); margin-right: 20px; cursor: pointer"
                                   (click)="open(content)" class="ion ion-ios-information-circle-outline"></i>
                                {{data.cred}} Crédits
                            </div>
                        </div>
                    </div>
                    <div style="float: left; margin: 20px">
                        Total crédit:
                    </div>
                    <div style="float: right; margin: 20px">
                        60
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6" style="width: 100%">
            <div class="example-list"
                 style="border-bottom: none; border-radius: 0px; background-color: #2962FF; color: white; font-weight: bold; height: 60px !important;">
                <div style="text-align: center; margin-top: 20px">
                    Module disponible(s)
                </div>
            </div>
            <div class="example-list" style="height: 93%">
                <div class="example-list" style="margin: 20px 20px 20px 20px; border-bottom: 0">
                    <input [(ngModel)]="term" class="example-box" placeholder="Rechercher..."
                           style="padding-left: 10px; width: 100%; background-color: white; color: #949494; height: 60px; border-bottom: 0 !important;"/>
                </div>
                <div style="margin: 0px 20px 0px 20px;">
                    <div style="height: 633px"
                        cdkDropList
                        #doneList="cdkDropList"
                        [cdkDropListData]="items"
                        [cdkDropListConnectedTo]="[todoList]"
                        class="example-list scrollbar scrollbar-primary"
                        (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let data of items | filter:'name' : term" cdkDrag>
                            {{data.name}}
                            <div style="float: right">
                                {{data.cred}} Crédits
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center; margin-top: 10px">
                        Un module n'est pas dans la liste ?<br>
                        <i (click)="open(content1)" style="cursor: pointer;" class="ion ion-ios-add-circle-outline"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
    <a>© 2019 YearOrNotYear, All Rights Reserved</a>
    </div>
</div>
