@font-face {
  font-family: "OCRAExtendedRegular";
  src: url("./font/OCRAEXT.ttf") format("truetype"),
  url("./font/OCRAEXT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.alert-success {
  background-color: #68C934;
  border-color: #53a02a;
  color: #fff;
}
.alert-success hr {
  border-top-color: #498c24;
}
.alert-success .alert-link {
  color: #e6e6e6;
}
.displayNone {
  display: none;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc !important;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.example-box:hover {
  background: #f5f5f5;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.scrollbar {
  background: #fff;
  overflow-y: scroll;
}

.force-overflow {
  min-height: 450px;
}

.scrollbar-primary::-webkit-scrollbar {
  width: 3px;
  background-color: #F5F5F5; }

.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.1);
  background-color: #3A3985; }

.scrollbar-danger::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-danger::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-danger::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #ff3547; }

.scrollbar-warning::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-warning::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-warning::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #FF8800; }

.scrollbar-success::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-success::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-success::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #00C851; }

.scrollbar-info::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-info::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-info::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #33b5e5; }

.scrollbar-default::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-default::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-default::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #2BBBAD; }

.scrollbar-secondary::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px; }

.scrollbar-secondary::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.scrollbar-secondary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #aa66cc; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  color: #3A3985;
  background-color: white;
  box-sizing: border-box;
  padding: 12px 18px;
  transition: background-color 0.4s ease-out;
  z-index: 2;
  box-shadow: 0px 3px 6px #e0e0eb;
}

.spanTitle {
  padding-top: 10px;
  font-size: 30px;
  letter-spacing: normal;
  font-family: OCRAExtendedRegular, sans-serif;
}

.spanSubtitle {
  font-size: 10px;
  letter-spacing: normal;
  font-family: OCRAExtendedRegular, sans-serif;
}

.moduleBlock {
  height: 700px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  overflow: hidden;
  background-color: white;
}

.moduleList {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-height: 620px;
}

.moduleBox {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 98%;
  height: 50px;
  border-radius: 8px;
  border: 2px solid #3A3985;
  margin-bottom: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.moduleBlockTitle {
  padding: 0;
  font-size: 20px;
  margin-left: 5%;
  margin-top: auto;
  margin-bottom: auto;
}

.moduleName {
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
  font-size: 20px;
  line-height: 46px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.creditsNumber {
  color: white;
  background-color: #3A3985;
  text-align: center;
}

.addModuleButton {
  float: right;
  margin-top: 10px;
  width: 80%;
  height: 70%;
  text-align: right;
  padding-right: 14px;
  font-size: 15px;
  color: white;
  border-radius: 50px;
  border: 0;
  background-image: linear-gradient(-106deg, #F0712A, #FCCB4A);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.gradientBar {
  margin-top: 100px;
  height: 100px;
}

.creditBox {
  width: 100%;
  height: 80px;
  margin-top: 10px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.searchBar {
  padding-left: 10px;
  width: 95%;
  background-color: white;
  color: #949494;
  height: 40px;
  border-bottom: 2px solid #3A3985 !important;
}

.creditsInBar {
  font-size: 30px;
  font-weight: bold;
}

.buttonClear {
  margin-top: 10px;
  margin-left: 10%;
  width: 80%;
  height: 70%;
  font-size: 15px;
  color: white;
  border-radius: 50px;
  border: 0;
  background-image: linear-gradient(-106deg, #F0712A, #FCCB4A);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  text-align: center;
  cursor: pointer;
}

.loadingGIF {
  z-index: 3;
  position: absolute;
  top: 400px;
  left: 150px;
}

.button-csv {
	padding:16px 0px 16px 0px;
	font:bold 16px OCRAExtendedRegular;
	color:#F5F5F5;
	border-radius:16px;
	width:150px;
  background:#3A3985;
  border: 0;
}

.plus-min-button {
  width:35px;
	height:35px;
  background-color: rgba(0, 0, 255, 0);
	font:bold 20px OCRAExtendedRegular;
	border-radius:50%;
  border:none;
  outline:none;
	color:#3A3985;
}

.modal-basic-title {
  max-width: 1200px;
}

.pastilleright {
  width: 10px;
  height: 10px;
  background-color: grey;
  float: right;
  margin-right: 8px;
  border-radius: 50px;
  margin-top: 8px;
  cursor: help;
}

.syncBar {
  width: 100%;
  border: 2px solid #3A3985;
  border-radius: 8px;
  padding: 10px;
}

.profile {
  width: 100%;
  height: 165px;
  background-color: #F3F3F3;
  border-radius: 10px;
  z-index: 1;
  position: absolute;
  top: -4px;
  right: -9px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  display: none;
}

.img_profile{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  right: 0px;
  z-index: 2;
}

.text_profile {
  position: absolute;
  top: 5%;
  left: 5%;
  color: #3A3985;
}

.promo_profile {
  position: absolute;
  top: 61%;
  color: #3A3985;
}

.csv_profile {
  position: absolute;
  top: 150%;
  border: 0;
  background-color: #F3F3F3;
  color: #3A3985;
}

.logout_profile {
  position: absolute;
  top: 200%;
  border: 0;
  background-color: #F3F3F3;
  color: #3A3985;
}

.issue_profile {
  position: absolute;
  top: 250%;
  border: 0;
  background-color: #F3F3F3;
  color: #3A3985;
}

.addmodules {
  width: 36%;
  font-size: 17px;
  outline: none;
  border: 0;
  border-bottom: 1px solid #3A3985;
  position: relative;
  left: 2%;
  border-radius: 0px;
}

.addmodulescred::-webkit-inner-spin-button,
.addmodulescred::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.addmodulescred {
  width: 11%;
  font-size: 17px;
  position: relative;
  outline: none;
  border: 0;
  border-bottom: 1px solid #3A3985;
  left: 2%;
  border-radius: 0px;
}

@media screen and (min-width: 1401px) {
  .text_profile {
    font-size: 22px;
  }
  .promo_profile {
    font-size: 17px;
  }
  .csv_profile {
    font-size: 17px;
  }
  .logout_profile {
    font-size: 17px;
  }
  .issue_profile {
    font-size: 17px;
  }
}

@media screen and (max-width: 1400px) {
  .text_profile {
    font-size: 14px;
  }
  .promo_profile {
    font-size: 12px;
  }
  .csv_profile {
    font-size: 12px;
  }
  .logout_profile {
    font-size: 12px;
  }
  .issue_profile {
    font-size: 12px;
  }
}
